//====================================================================================================
.header {
  padding: rem(28) 0rem;
  background-image: url(../img//bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  @media (max-width:$tablet){
    background-position: 75%;
  }

  &__container {
  }

  &__header{
    @include flex(space-between);
  }

  &__logo {
    max-width: rem(124);
    width: 100%;
    max-height: rem(54);
    height: 100%;
    margin-right: rem(37);
  }

  &__date {
    max-width: rem(300);
    @include flex(space-between);
    span {
      margin-left: rem(13);
      width: rem(230);
      @include adaptiveValue("width", 230, 200, 1024, 768, 1);
      @include adaptiveValue("font-size", 16, 12, 1024, 768, 1);
    }

    @media (max-width:$tablet){
      display: none; //! Тимчасово
    }
  }

  &__left {
    @include flex(space-between);
  }

  &__right {
    @include flex(space-between);
  }

  &__nav {
    @include adaptiveValue("margin-right", 40, 15, 1024, 768, 1);

    @media (max-width:$tablet){
      display: none; //! Тимчасово
    }
  }

  &__list {
    @include flex(space-between);
    @include adaptiveValue("column-gap", 63, 10, 1024, 768, 1);
  }

  &__item {
    position: relative;
    transition: $trs;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $primaryColor;
      transition: $trs;
    }

    @media (any-hover: hover){
      &:hover{
        color: $primaryColor;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &__link {
    @include adaptiveValue("font-size", 16, 14, 1024, 768, 1);
  }

  &__btn {
    @media (max-width:1024px){
      padding: 5px 10px;
    }

    @media (max-width:$tablet){
      display: none; //! Тимчасово
    }
  }

  &__body {
  }

}

.body-header {
  display: grid;
  justify-content: start;
  margin-top: rem(245);
  @include adaptiveValue("margin-left", 150, 20, 768, 320, 1);

  &__title {
    font-weight: 700;
    font-size: 60px;
    @include adaptiveValue("font-size", 60, 32, 1024, 320, 1);
    line-height: math.div(73, 60);
    max-width: rem(460);
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(34);
    }

    &::before {
      content: '';
      position: absolute;
      top: rem(20);
      left: rem(-150);
      @include adaptiveValue("width", 132, 100, 1024, 768, 1);
      height: rem(1);
      background-color: $primaryColor;

      @media (max-width:$tablet){
        display: none;
      }
    }
  }

  &__btns {
    @include flex(start);
  }

  &__btn {
    &:not(:last-child) {
      margin-right: rem(25);
    }

    svg {
      path {
        transition: $trs;
      }

      @media (any-hover: hover){
        &:hover path{
          fill: $primaryColor;
        }
      }
    }
  }

  &__sidebar {
    position: fixed;
    @include adaptiveValue("right", 70, 5, 768, 320, 1);
    z-index: 5;
  }

  &__social {
    margin-bottom: rem(65);
    @include adaptiveValue("margin-bottom", 65, 20, 768, 320, 1);
  }

  &__list {
    @include flex(center);
    flex-direction: column;
    @include adaptiveValue(" row-gap", 45, 20, 768, 320, 1);
  }

  &__item {
    svg {
      transition: $trs;
      path {
        transition: $trs;
      }

      @media (any-hover: hover){
        &:hover{
          transform: scale(1.5);
          path {fill: $primaryColor;}
        }
      }
    }
  }

  &__link {
  }

  &__controls {
    @include flex(center);
    flex-direction: column;
    row-gap: rem(25);
  }

  &__prew {
    @include flex(center);
    flex-direction: column;

    svg path {
      transition: $trs;
    }
    
    span {
      writing-mode: vertical-rl;
      margin-top: rem(12);
    }

    @media (any-hover: hover){
      &:hover{
        color: $primaryColor;

        svg path {
          fill: $primaryColor;
        }
      }
    }
  }

  &__next {
    @include flex(center);
    flex-direction: column;
    transition: $trs;

    svg path {
      transition: $trs;
    }

    span {
      writing-mode: vertical-rl;
      margin-bottom: rem(12);
    }

    @media (any-hover: hover){
      &:hover{
        color: $primaryColor; 

        svg path {
          fill: $primaryColor
        }
      }
    }
  }

  &__scrol {
    @include flex(center);
    flex-direction: column;
    transition: $trs;
    position: absolute;
    bottom: -5%;
    animation: scroll 1s infinite ease-in-out;

    svg path {
      transition: $trs;
    }

    span {
      writing-mode: vertical-rl;
      margin-bottom: rem(12);
    }

    @media (any-hover: hover){
      &:hover{
        color: $primaryColor; 

        svg path {
          fill: $primaryColor
        }
      }
    }
  }
}

.loader {
  background-color: #000;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__item {
    width: 2.625rem;
    height: 5.5rem;
    position: fixed;
    border: 2px solid $mainColor;
    animation: load 1.5s infinite alternate; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: perspective(140px) rotateX(-45deg);
  }
}


//====================================================================================================

@keyframes load {
  0% {box-shadow: 0 0 $primaryColor inset;}
  100% {box-shadow: 0 -86px $primaryColor inset}
}

@keyframes scroll {
  0% {
    bottom: 5%;
    opacity: 0;
  }

  100%{
    bottom: -5%;
    opacity: 1;
  }
}